In [1]:
import pandas as pd

In [2]:
studentdata=pd.read_excel('students.xlsx')
studentdata.head()

,ACCESS_NO,GENDER,AGE,COURSE,DSC3108,DSC3114,MTH3108,SYE3104
0,UCU_001,F,21.0,Telecom Engineering,80.0,90.0,89.0,89.0
1,UCU_002,F,22.0,Telecom Engineering,67.0,79.0,87.0,67.0
2,UCU_003,M,23.0,Telecom Engineering,68.0,78.0,65.0,45.0
3,UCU_004,M,22.0,Telecom Engineering,43.0,76.0,NaN,56.0
4,UCU_005,F,21.0,Data Science,45.0,54.0,87.0,76.0

In [3]:
#checking for missing values
missingvalues=studentdata.isna().sum()
missingvalues

ACCESS_NO    0
GENDER       3
AGE          3
COURSE       3
DSC3108      1
DSC3114      4
MTH3108      3
SYE3104      3
dtype: int64

In [7]:
#using interpolation
studentdata=studentdata.interpolate(method='linear')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10376\1139251428.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  studentdata=studentdata.interpolate(method='linear')

In [8]:
#checking for missing values
missingvalues=studentdata.isna().sum()
missingvalues

ACCESS_NO    0
GENDER       3
AGE          0
COURSE       3
DSC3108      0
DSC3114      0
MTH3108      0
SYE3104      0
dtype: int64

In [9]:
#using backward fill for gender
studentdata['GENDER']=studentdata['GENDER'].bfill()

In [10]:
#using forward fill for course
studentdata['COURSE']=studentdata['COURSE'].ffill()

In [11]:
#checking for missing values
missingvalues=studentdata.isna().sum()
missingvalues

ACCESS_NO    0
GENDER       0
AGE          0
COURSE       0
DSC3108      0
DSC3114      0
MTH3108      0
SYE3104      0
dtype: int64