In [19]:
import pandas as pd

In [20]:
studentdata=pd.read_excel('students.xlsx')
studentdata.head()

,ACCESS_NO,GENDER,AGE,COURSE,DSC3108,DSC3114,MTH3108,SYE3104
0,UCU_001,F,21.0,Telecom Engineering,80.0,90.0,89.0,89.0
1,UCU_002,F,22.0,Telecom Engineering,67.0,79.0,87.0,67.0
2,UCU_003,M,23.0,Telecom Engineering,68.0,78.0,65.0,45.0
3,UCU_004,M,22.0,Telecom Engineering,43.0,76.0,90.0,56.0
4,UCU_005,F,21.0,Data Science,45.0,54.0,87.0,76.0

from a different directory
# use \\ or /

In [21]:
#checking for missing values
missingvalues=studentdata.isna().sum()
missingvalues

ACCESS_NO    0
GENDER       0
AGE          1
COURSE       0
DSC3108      1
DSC3114      4
MTH3108      2
SYE3104      2
dtype: int64

In [22]:
#using interpolation
studentdata['DSC3114']=studentdata['DSC3114'].interpolate(method='linear')

In [23]:
#checking for missing values
studentdata.isna().sum()

ACCESS_NO    0
GENDER       0
AGE          1
COURSE       0
DSC3108      1
DSC3114      0
MTH3108      2
SYE3104      2
dtype: int64

In [25]:
#using forward fill
studentdata['DSC3108']=studentdata['DSC3108'].ffill()

In [26]:
studentdata.isna().sum()

ACCESS_NO    0
GENDER       0
AGE          1
COURSE       0
DSC3108      0
DSC3114      0
MTH3108      2
SYE3104      2
dtype: int64

In [27]:
#using backward fill
studentdata['MTH3108']=studentdata['MTH3108'].bfill()

In [ ]:
#using imputation with mode